body{
    background-color: lightseagreen;
}

.column {
    float: left;
    width: 50%;
    background-color: #20b2aa;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .row {
    display: flex;
    text-align: center;
    font-weight: bold;
    color: white;
  }
  
  .column {
    flex: 50%;
  }

  .column {
    float: left;
  }
  
  .left {
    width: 25%;
  }
  
  .right {
    width: 75%;
  }

  .about{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color: white;
  }

  .row img :hover{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  footer {
    background-color: #333333;
    color: #FFFFFF;
    padding: 20px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    width: 50%;
    text-align: left;
}

.footer-right {
    width: 50%;
    text-align: right;
}

.footer-right a {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 10px;
}


